html{

overflow-y:auto; 
}

#header{

	height: 100px;
	min-width: 1000px;
	margin-bottom: 150px;

	color: white; 
	text-align: center;
	
	background-color:  black;
	box-shadow: grey 3px 2px 5px;
}
	
		#titulo{

			color: white;
			font-family: IMPACT;
			line-height: 50px;
			margin-bottom: 10px;
		}
		#nav{
			height: 60px;
		}
		.titulos{

			width: 150px; height: 50px;
			background-color: black;
			
			color: white;
			font-size: 18px;
			text-align: center;
			line-height: 50px;	

			border: none;
			border-radius: 0px 0px 10px 10px;
			box-shadow: grey 3px 2px 5px;
			
			display: inline-block;		
		}

		.titulos:hover{
			cursor: pointer;
			font-size: 24px;
			margin-top: -5px;
			box-shadow: none;
		}



.botones{
	margin-top: 30px;
	text-align: center;
}

.formulario{
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
	text-align: left;
}



#main{

	width: 90%; min-width: 1000px;
	
	border: 3px solid black;
	border-radius: 20px;
	
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	margin-bottom: 100px;
}
	
		#titulo-contenedor{
			font-weight: bold;
			margin-bottom: 25px;
			float: left;

		}
		#tabs{
			clear: both;
		}
		#anadir{
			margin-top: 10px;
			float: right
		}

		#texto{
			position: absolute;
			width:100%;
		}

		#listado{
			margin: 0 auto;
			width: 100%; height: 80%;
			margin-bottom: 50px;
			border: none;
		}
		.entrada{
			width: 80%;
		}


			.separador{border-left: 2px solid white; text-align: center; line-height: 40px; font-size: 14px; font-weight: bold;}
				#id{border: none; width: 50px; background-color: black;}
				#id2{border: none; width: 150px; background-color: black;}
				#nombre{width: 100px; background-color: black;}
				#descripcion{width: 200px; background-color: black;}
				#categoria{width: 100px; background-color: black;}
				#sprecio{width: 50px; background-color: black;}
				#scolor{width: 300px; background-color: black;}
				#scolor2{width: 50px; background-color: black;}
				#cate{width: 300px; background-color: black;}
				#opciones{width: 50px; background-color: black;}




#footer{
	position: absolute;
	width: 100%;
	min-width: 1000px;
	
	margin-top: 50px;
	margin-bottom: 20px;

	background-color: black;
	text-align: center;
}

.selectorW{
	width: 100px;
}

.formtexto{
	font-size: 18px;
	line-height: 1.9;
	text-align: center;
}
.formtexto2{
	line-height: 2;
}
.formtexto3{
	width: 10px;
}

.redondeado{
	border-radius: 20px;
}
.centrado{
	text-align: center;
}
.ancho100{
	width: 100px;
}
.marginbuton{

	margin-left: 100px;
}
.marginauto{
	margin: 0 auto;
}
.sinborde{
	border: none;
}
.row{
	max-width: none;
}